:root{
    --color1: rgb(86, 100, 251);
}
*{
    
    margin: 0;
    padding : 0;
    
}
body{
    color:white ;
    background-color : rgb(60, 59, 59);
    font-family: 'Inter', sans-serif;
    overflow:visible;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header h1{
    font-size: 22px;
    margin: 20px;
    padding: 10px;
}
header nav ul{
    list-style: none;
    margin:20px;
    width: 100%;
    height: auto;
}

nav li{
    display : inline-block;
    padding : 10px 130px;
    cursor:pointer;
    position: relative;
}
.un:hover::after{
    content: "";
    position: absolute;
    height: 1px;
    background:white;
    width: 80%;
    bottom: 0;
    left:50%;
    transform: translateX(-50%) scaleX(0);
    animation : untest 2s ease-in-out forwards;
}
@keyframes untest {
    100%{
        transform : translateX(-50%) scaleX(1);
    }
}

.deux:hover::after{
    content: "";
    position: absolute;
    height: 1px;
    background:white;
    width: 80%;
    bottom: 0;
    left:50%;
    transform: translateX(-50%) scaleX(0);
    animation : untest 2s ease-in-out forwards;
}
@keyframes untest {
    100%{
        transform : translateX(-50%) scaleX(1);
    }
}
.trois:hover::after{
    content: "";
    position: absolute;
    height: 1px;
    background:white;
    width: 80%;
    bottom: 0;
    left:50%;
    transform: translateX(-50%) scaleX(0);
    animation : untest 2s ease-in-out forwards;
}
@keyframes untest {
    100%{
        transform : translateX(-50%) scaleX(1);
    }
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main img{
    width: 30%;
    height: 50%;
    margin: 20px;
}

.title{
    display: inline-block;
    margin: 30px;
}
h2{
    font-size: 40px;
    letter-spacing: 4px;
    margin: 10px;
}
h3{
    color:var(--color1);
    margin: 10px;
}
main p{
    font-size: 14px;
    margin: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.505);
}

.Core{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first:first-of-type:hover{
    animation : core1 1s infinite linear;
}
.two:nth-child(2):hover{
    animation : core2 1s infinite linear;
}
.three:nth-child(3):hover{
    animation : core3 1s infinite linear;
}
@keyframes core1{
    50%{
        transform: scale(1.2, 1.2);
    }
    100%{
        transform:scale(1, 1);
    }
}
@keyframes core2{
    50%{
        transform: scale(1.2, 1.2);
    }
    100%{
        transform:scale(1, 1);
    }
}
@keyframes core3{
    50%{
        transform: scale(1.2, 1.2);
    }
    100%{
        transform:scale(1, 1);
    }
}

.Core h4{
    text-align: center;
    font-size: 22px;
    margin: 20px;
}

.Core ul{    
    list-style: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.Core ul li{
    background-color: var(--color1);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.Invest h5{
    font-size: 22px;
    margin: 20px;
}
.Invest img{
    height: 5rem;
    width: 9rem;
    margin: 30px;
}


@media screen and (max-width: 1150px) {
    nav li{
        padding : 10px 80px;
    }
    h2{
        font-size: 30px;
        letter-spacing: 4px;
        margin: 10px;
    }
    h3{
        color:var(--color1);
        margin: 10px;
    }
    main p{
        font-size: 12px;
        margin: 10px;
    }

    .Core {
        display:flex ;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
    }
    .Invest img{
        height: 4rem;
        width: 8rem;
    }

}

@media screen and (max-width: 850px) {
    nav li{
        padding : 10px 30px;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    h2, h3, main p{
       text-align: center;
    }
    .Core{
        font-size: 12px;
    }
    .Core ul{
        padding: 8px;
        width: 30%;
    }
    .Invest {
        font-size: 20px;
        text-align: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        
    }
    .Invest img{
        height: 3rem;
        width: 7rem;
    }
}

@media screen and (max-width: 520px) {
    nav li{
        padding : 8px 10px;
        font-size:15px;
    }
    .Core{
        font-size: 10px;
    }
    h4{
        font-size: 16px;
    }
    
    h5{
        font-size: 16px;
    }
    .Invest img{
        height: 2rem;
        width: 6rem;
    }
    
     
}
